body{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.top-container{
  height: 100vh;
  line-height: 100vh;
  margin-top: -50px;
}

.top-container .hero-content{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.top-container h1{
  margin: 0 auto 0 auto;
  font-family: 'Caveat', cursive;
  font-size: 4em;
  color: white;
}

.top-container p{
  font-size: 1.8em;
  color: white;
}

.work-hero{
  height: 70vh;
  line-height: 70vh;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.5em;
  color: #11999E;
}

hr{
  border-style: dotted;
  border-width: 10px;
  border-color: #eaf6f6;
  border-bottom: 0;
  width: 20%;
}

.grey-bg{
  background-color: #222;
}

.navbar-light .navbar-brand{
  color: white;
}

.navbar-brand{
  font-family: 'Caveat', cursive;
}

.navbar-brand:hover{
  color: white;
}

a{
  text-decoration: none;
}

.navbar-collapse .nav-item a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-item{
  margin-right: 30px;
}

.section{
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-content{
  margin: 50px auto;
}

.profile{
  width: 50%;
}

.profile img{
  width: 20%;
  margin-bottom: 20px;
}

.skill-item{
  width: 80%;
  margin: 30px auto 0 auto;

}

.skill-item p, .skill-item h3{
  line-height: 2;
  text-align: left;
}


.tech-item img{
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

.tech-item{
  margin-top: 20px;
  margin-bottom: 20px;
}

.closed, .open{
  color: #11999E;
}

.bottom-container{
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
}

.contact-me p{
  margin-bottom: 40px;
}

.contact-me .btn{
  padding: 20px;
  border-radius: 5px;
  background-color: #615e5e;
  color: white;
}

.bottom-container a:hover{
  text-decoration: none;
}

.card{
  margin-bottom: 20px;
  min-height: 600px;
}

.footer-link{
  color: white;
}

.footer-link:hover{
  color: white;
}

.footer-link::after{
  color: white;
}

/* Tablet Size */
@media (max-width: 1028px){
  .skill-item p, .skill-item h3{
    text-align: center;
  }

  .card{
    font-size: 0.8em;
    min-height: 520px;
  }
}
