body {
  background-color: #e3fdfd;
}

hr {
  border-style: dotted none none;
  border-width: 0.5em;
  border-color: lightgray;
  width: 10%
}

h1, h3{
  color: #66bfbf
}

#profilePic {
  width: 50%;
}
